.fixed_menu {right:2%; padding:1rem 2rem; background:#ffffff; border-radius: 10px; border:1px solid red;
  ul {
    li {margin-bottom:1.6rem;
      .sub_tit {font-size:1.3rem; font-weight: 500;}
    }
  }
}