.mySwiper {padding-top:10rem;
  .slide_items {position:relative;
    .txt_box {width:120rem; top:25%; left:calc((100% - 120rem)/2); padding:0 4%; z-index: 100;
      .tit {margin-top:1%; font-size:6.6rem; font-weight: 900; text-align:left; white-space: pre; letter-spacing: -0.6px; line-height: 1.2;}
      .sub_tit {position: absolute; font-size:1.9rem; font-weight: 500; letter-spacing: -1px;}
      .more_link {width:15rem; padding:1rem 1rem; margin-top:5%; background: #dc000c; border-radius: 5rem;
        a {font-size:1.8rem; font-weight: 500; color:#ffffff;}
      }
      
    }
    
  }
  .swiper-pagination {display:flex; justify-content:space-around; width: 40%; bottom:10%; left:30%;
    .swiper-pagination-bullet {flex-basis: 90%; margin: 0 1rem; background:none; border-radius: 0;
      .dot_text {color:#ffffff;}
      .progress_bar {position:relative; flex-basis: 100%; height: 2px; margin-top:1.2rem; background: #ffffff;}
      &.swiper-pagination-bullet-active {
        .dot_text {color:#dc000c;}
        .progress_bar {background: #dc000c;}
      }
    }
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {top:53%; color:#cccccc;}
}